amqp==2.4.2
aniso8601==3.0.2
astroid==2.2.5
autopep8==1.4.4
backcall==0.1.0
billiard==3.6.0.0
celery==4.3.0
colorama==0.4.1
decorator==4.4.0
Django==2.2.3
django-cors-headers==2.5.2
django-debug-toolbar==1.11
django-filter==2.1.0
django-graphql-jwt==0.2.1
django-timezone-field==3.0
djangorestframework==3.9.4
djangorestframework-jwt==1.11.0
dnspython==1.16.0
elasticsearch==6.3.1
elasticsearch-dsl==6.3.1
graphene==2.1.3
graphene-django==2.2.0
graphene-file-upload==1.2.2
graphql-core==2.1
graphql-relay==0.4.5
greenlet==0.4.15
ipython==7.4.0
ipython-genutils==0.2.0
isort==4.3.18
jedi==0.13.3
kombu==4.5.0
lazy-object-proxy==1.3.1
mccabe==0.6.1
monotonic==1.5
mysqlclient==1.4.2.post1
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
promise==2.2.1
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycodestyle==2.5.0
Pygments==2.3.1
PyJWT==1.7.1
pylint==2.3.1
python-crontab==2.3.6
python-dateutil==2.8.0
pytz==2019.1
redis==3.2.1
Rx==1.6.1
singledispatch==3.4.0.3
six==1.12.0
sqlparse==0.3.0
traitlets==4.3.2
typed-ast==1.3.5
urllib3==1.25.1
vine==1.3.0
wcwidth==0.1.7
wrapt==1.11.1
